//
// CORE SETTINGS
// =============
// Project specific setings which can be changed to modify the basic look and
// feel of the project with little effort.
//


// Base typographical styles and baseline grid. You need to define these values
// in pixels: inuitcss will convert them to more appropriate units.


$skrive-modular-scale:=         true
$skrive-scale-ratio:=           1.5
$skrive-global-font-size:=      16px
$skrive-global-line-height:=    1.5


// Spacing values are determined based on your project’s global line height (i.e
// your baseline grid). It is not recommended that you modify these following
// variables (it can break your vertical rhythm), but if you need to, you can.

$skrive-global-spacing-unit:=   round( $skrive-global-font-size * $skrive-global-line-height )

