$svg-icon-map = {
  aeropress: 225/136,
  americano: 176/200,
  coffee-grinder: 215/160,
  espresso-machine: 224/224,
  portafilter: 88/208
};

.icon
  &--aeropress
    width: 136px
    height: 225px
  &--americano
    width: 200px
    height: 176px
  &--coffee-grinder
    width: 160px
    height: 215px
  &--espresso-machine
    width: 224px
    height: 224px
  &--portafilter
    width: 208px
    height: 88px
